:root {
  --bg: #14172F;
  --fg: #F2F2f2;
  --primary-100: #fff;
  --primary-95: #effff2;
  --primary-90: #deffe5;
  --primary-80: #beffcb;
  --primary-70: #9dffb0;
  --primary-60: #7dff96;
  --primary-50: #5cff7c;
  --primary-40: #4acc64;
  --primary-30: #37994a;
  --primary-20: #256632;
  --primary-10: #123319;
  --primary-05: #09190c;
  --primary-00: #000;

  --mono-100: #fff;
  --mono-95: #f2f2f2;
  --mono-90: #e6e6e6;
  --mono-80: #ccc;
  --mono-60: #b3b3b3;
  --mono-50: #808080;
  --mono-40: #666;
  --mono-30: #4d4d4d;
  --mono-20: #333;
  --mono-10: #1a1a1a;
  --mono-05: #0d0d0d;
  --mono-00: #000;
}